.container {
  max-width: 1100px;
}

.product-book {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
  opacity: 0.2;
}

.product-book::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-book-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  fill: currentColor;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
}

#addToCartBalloon.move {
  transition: transform 3s ease-in-out;
}

.showDetails {
  position: absolute;
  top: 1%;
  opacity: 0;
  text-align: center;
}

.card:hover img{
  opacity: 0.5;
}

.card:hover .showDetails {
  opacity: 1;
}

.bookDescription span{ 
  color: grey
}